<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unpkg.com/sheryjs/dist/Shery.css" />
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+SA+Hand:wght@400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    </head>

<body class=" bg-white w-full min-h-screen">
    <div id="main" class="w-full bg-white">
        <div id="home" class="w-full min-h-screen">
            <div id="nav" class="flex items-center justify-between w-full px-[50px] py-[30px]">
                <img class="magnet w-[100px] text-2xl" src="/media/logo.png" alt="">
                <form action="/logout" method="post">
                    <div id="right" class="flex items-center gap-[40px]">
                        <button type="submit" class="px-3 py-2 bg-gray-300 rounded-xl">Logout</button>
                    </div>
                </form>
            </div>
            <div id="homemain" class="w-full px-10">
                <div class="headings w-full font-[averta cy w10]">
                    <h1 class="hvr asbolute top-0 left-0 w-5/6 font-black text-[7vw] leading-none tracking-[-5px] text-transparent hover:text-black transition-colors duration-200" style="-webkit-text-stroke: 1px #000;">
                        Find the Perfect Domain Name
                    </h1>
                </div>
            </div>
        
            <div class="field mt-[6vw] flex items-center justify-center">
                <form action="/results" method="get" class="flex items-center justify-center gap-10 w-[60%] h-[6vw] bg-white rounded-full px-[2vw]"> 
                        <input type="text" class="w-full p-3 rounded-lg border-2 border-black focus:outline-none focus:ring-2 focus:ring-blue-500" name="description" placeholder="Enter description of your business or product" required>
                        <button class="magnet px-[2.5vw] py-[1.3vw] rounded-full border-2 border-[#e6e6e6] bg-white text-[1vw] font-medium tracking-[-1px] hover:bg-black hover:text-white transition-colors duration-200">Generate Domain</button>
                </form>
            </div>
        </div>

        <div class="suggestions mt-5 w-full px-20 font-['Roboto_Mono']">
        <h3 class="font-medium text-2xl mb-6 underline px-3">Suggested Domains</h3>
        <% if(showResults){ %>
                <ul class="mt-2 space-y-2">
                    <div class="table w-full border-2 border-gray-300 p-5 rounded-[2vw]">
                        <div class="titles px-5 w-full bg-gray-200 py-6 h-[12px] mt-4 flex items-center justify-between rounded-full">
                            <h3 class="text-gray-600">Domain name</h3>

                            <div class="rightcols flex items-center gap-10">
                                <h3 class="text-gray-600">Available</h3>
                                <h3 class="text-gray-600">Save</h3>     
                            </div>


                        </div>
                        <% suggestions.forEach(domain => { %>
                            <div class="row flex items-center justify-between w-full border-b-2 border-grey-600">
                                <li class="py-5 px-5 "><%= domain %></li>
                                <div class="right details flex items-center justify-center px-5 gap-20">
                                <span class="text-2xl ">
                                    <% if (availability && availability[domain] === true) { %>
                                        <span class="text-green-500"><i class="ri-check-line"></i></span>
                                    <% } else if (availability && availability[domain] === false) { %>
                                        <span class="text-red-500"><i class="ri-close-fill"></i></span>
                                    <% } else { %>
                                        <span class="text-gray-400">?</span>
                                    <% } %>
                                </span>
                                <div class="save">
                                    <form action="/save-domain" method="post">
                                        <input type="hidden" name="domain" value="<%= domain %>">
                                        <input type="hidden" name="description" value="<%= description %>">
                                        <button type="submit" class="magnet">
                                            <i class="ri-bookmark-2-line text-[25px]"></i>
                                        </button>
                                    </form>
                                </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>  
                </ul>
        <% }else{ %>
            <div>
                <h3 class="px-3">Enter a brief description of your product or business to generate domain name ideas.</h3>
            </div>
        <% } %>
    </div>
        

    <div class="savedDomains mt-20 mb-5 px-20 w-full px-20 font-['Roboto_Mono']">
        <h3 class="font-medium text-2xl mb-6 underline px-3">Saved Domains</h3>
    <% if(user.savedDomains.length > 0){ %>
        <ul class="mt-2 space-y-2">
            <div class="table w-full border-2 border-gray-300 p-5 rounded-[2vw]">
                <div class="titles px-5 w-full bg-gray-200 py-6 h-[12px] mt-4 flex items-center justify-between rounded-full">
                    <h3 class="text-gray-600">Domain name</h3>
                    <h3 class="text-gray-600">Delete</h3>    
                </div>
                <% user.savedDomains.forEach(domain => { %>
                    <div class="row flex items-center justify-between w-full border-b-2 border-grey-600">
                        <li class="py-5 px-5 font-['Roboto Mono']"><%= domain %></li>
                        <div class="actions">
                            <form action="/delete-domain" method="post">
                                <input type="hidden" name="domain" value="<%= domain %>">
                                <input type="hidden" name="from" value="results">
                                <input type="hidden" name="description" value="<%= description %>">
                                <button type="submit" class="magnet px-8 py-2 rounded-xl text-2xl">
                                    <i class="ri-delete-bin-7-line"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                <% }) %>
            </div>  
        </ul>
    <% }else{ %>
        <div>
            <h3 class="px-3">Your saved domains will appear here.</h3>
        </div>
    <% } %>
    </div>

<!--         
        <div id="featured" class="px-[15vw] py-[10vw]">
            <div class="fheading">
                <h1 class="leading-none text-[4vw] font-normal">featured</h1>
                <h1 class="leading-none text-[4vw] font-normal text-transparent" style="-webkit-text-stroke: 1px #000;">projects</h1>
            </div>
            <div id="fimages" class="flex justify-between w-full h-[100vh] mt-[5vw]">
                <div id="fleft" class="overflow-hidden w-[45%] h-full">
                    <div class="fleftelm flex flex-col justify-center w-full h-full">
                        <h3 class="text-[1.3vw] font-normal">Riyadh</h3>
                        <h1 class="text-[2.5vw] leading-none font-normal capitalize my-[1.5vw]">official website of riyadh, saudi arabia's capital.</h1>
                        <h4 class="opacity-50">design, development, product</h4>
                    </div>
                    <div class="fleftelm flex flex-col justify-center w-full h-full">
                        <h3 class="text-[1.3vw] font-normal">Riyadh</h3>
                        <h1 class="text-[2.5vw] leading-none font-normal capitalize my-[1.5vw]">official website of riyadh, saudi arabia's capital.</h1>
                        <h4 class="opacity-50">design, development, product</h4>
                    </div>
                    <div class="fleftelm flex flex-col justify-center w-full h-full">
                        <h3 class="text-[1.3vw] font-normal">Riyadh</h3>
                        <h1 class="text-[2.5vw] leading-none font-normal capitalize my-[1.5vw]">official website of riyadh, saudi arabia's capital.</h1>
                        <h4 class="opacity-50">design, development, product</h4>
                    </div>
                    <div class="fleftelm last flex flex-col justify-center w-full h-full">
                        <h3 class="text-[1.3vw] font-normal">Riyadh</h3>
                        <h1 class="text-[2.5vw] leading-none font-normal capitalize my-[1.5vw]">official website of riyadh, saudi arabia's capital.</h1>
                        <h4 class="opacity-50">design, development, product</h4>
                    </div>
                </div>
                <div id="fright" class="flex items-center justify-end w-[45%] h-full">
                    <div class="images w-full h-full">
                        <img class="w-full h-full object-cover" src="https://images.unsplash.com/photo-1692343814412-cbe23ff32765?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=767&q=80" alt="">
                        <img class="w-full h-full object-cover" src="https://images.unsplash.com/photo-1609428079875-ae186c562aff?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=689&q=80" alt="">
                        <img class="w-full h-full object-cover" src="https://images.unsplash.com/photo-1614633833026-0820552978b6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=688&q=80" alt="">
                        <img class="w-full h-full object-cover" src="https://images.unsplash.com/photo-1598133894008-61f7fdb8cc3a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=688&q=80" alt="">
                    </div>
                </div>
            </div>
            <div class="btndiv flex items-center justify-center">
                <button class="magnet px-[2.5vw] py-[1.3vw] rounded-full border-2 border-[#e6e6e6] bg-white text-[1vw] font-medium tracking-[-1px]">view all products</button>
            </div>
        </div>
        <div id="dev" class="w-full px-[15vw] py-[5vw]"> -->
            <!-- <h1 class="text-[3.8vw] font-normal w-[60%] leading-none">Development and design resources</h1>
            <p class="text-[1.5vw] mt-[3vw] tracking-[-0.5px] w-[60%]">
                We regularly release design courses, offer advice to newbie designers, walk you through creating awesome
                effects, and share source files.
            </p>
        </div>
        <div id="slides" class="px-[10vw] py-[3vw] flex justify-between">
            <div class="slide w-[30%]">
                <div class="img w-full h-[270px] overflow-hidden rounded-[10px] bg-yellow-400">
                    <img class="w-full h-full object-cover" src="https://cdn.cuberto.com/cb/upload/40bf072f506912f62412b0de381e350d.png" alt="">
                </div>
                <div class="tag w-fit rounded-full px-[22px] py-[10px] bg-[#f7f7f7] my-[20px]">Design Course</div>
                <h3 class="text-[1.4vw] font-normal tracking-[-0.5px]">How To Make Epic Website // Frontend development</h3>
            </div>
            <div class="slide w-[30%]">
                <div class="img w-full h-[270px] overflow-hidden rounded-[10px] bg-yellow-400">
                    <img class="w-full h-full object-cover" src="https://cdn.cuberto.com/cb/upload/40bf072f506912f62412b0de381e350d.png" alt="">
                </div>
                <div class="tag w-fit rounded-full px-[22px] py-[10px] bg-[#f7f7f7] my-[20px]">Design Course</div>
                <h3 class="text-[1.4vw] font-normal tracking-[-0.5px]">How To Make Epic Website // Frontend development</h3>
            </div>
            <div class="slide w-[30%]">
                <div class="img w-full h-[270px] overflow-hidden rounded-[10px] bg-yellow-400">
                    <img class="w-full h-full object-cover" src="https://cdn.cuberto.com/cb/upload/40bf072f506912f62412b0de381e350d.png" alt="">
                </div>
                <div class="tag w-fit rounded-full px-[22px] py-[10px] bg-[#f7f7f7] my-[20px]">Design Course</div>
                <h3 class="text-[1.4vw] font-normal tracking-[-0.5px]">How To Make Epic Website // Frontend development</h3>
            </div>
        </div>
        <div class="btndiv flex items-center justify-center">
            <button class="magnet px-[2.5vw] py-[1.3vw] rounded-full border-2 border-[#e6e6e6] bg-white text-[1vw] font-medium tracking-[-1px]">view all products</button>
        </div>
        -->
    </div> 

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.155.0/three.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/sheryjs/dist/Shery.js"></script>
    <script src="/javascripts/script.js"></script>
</body>
</html>